<nav class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="http://dev.angularjs/_learn_/resolve/">{{title}}</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href>Cart</a></li>
					<li><a href>Checkout</a></li>
				</ul>
				<!-- <ul class="nav pull-right">
					<li></li>
				</ul> -->
			</div><!-- /.nav-collapse -->
		</div>
	</div><!-- /navbar-inner -->
</nav>