<div id="markdown">
	<button class="btn btn-primary pull-right" bootstrap-modal-open="uploadImagesModal">Upload Images</button>
	<input type="text" class="input-xxlarge" placeholder="Enter phone title here.." ng-model="name">
	<div class="span12 prefix margin-top">
		<table class="table table-bordered">
			<tr class="well">
				<td colspan="2">
					<div class="btn-group" ng-class="{open:isShowHeader}">
					  	<button class="btn dropdown-toggle" ng-click="toggleHeader()">
					    	Header
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
					    	<li><a href ng-click="replaceTo('h1')">Header 1</a></li>
					    	<li><a href ng-click="replaceTo('h2')">Header 2</a></li>
					    	<li><a href ng-click="replaceTo('h3')">Header 3</a></li>
					    	<li><a href ng-click="replaceTo('h4')">Header 4</a></li>
					    	<li><a href ng-click="replaceTo('h5')">Header 5</a></li>
					    	<li><a href ng-click="replaceTo('h6')">Header 6</a></li>
					 	</ul>
					</div>
					<div class="btn-group">
					  	<button class="btn" title="bold" ng-click="replaceTo('b')"><i class="icon-bold"></i></button>
					  	<button class="btn" title="italic" ng-click="replaceTo('i')"><i class="icon-italic"></i></button>
					  	<button class="btn" title="quote" ng-click="replaceTo('quote')">Quote</button>
					  	<button class="btn" title="horizontal line" ng-click="replaceTo('more')"><i class="icon-minus"></i></button>
					</div>
					<div class="btn-group">
					  	<button class="btn" title="Insert image" bootstrap-modal-open="uploadImagesModal"><i class="icon-picture"></i></button>
					  	<button class="btn" title="Insert video" ng-click="insertMedia('video')"><i class="icon-facetime-video"></i></button>
					</div>
					<div class="pull-right">
						<button id="refresh-markdown" class="btn" title="refresh" ng-disabled="!isPreviewMode" ng-click="refreshPreview()"><i class="icon-refresh"></i></button>
						<div class="input-prepend input-append">
							<button class="btn" title="preview" ng-disabled="isPreviewMode" ng-click="swicthToPreview(true)"><i class="icon-eye-open"></i></button>
							<button class="btn" title="editor" ng-disabled="!isPreviewMode" ng-click="swicthToPreview(false)"><i class="icon-resize-horizontal"></i></button>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td id="editor" style="padding: 0;" class="span6">
					<textarea class="span12 well markdown-mce" rows="15" ng-model="markdown"></textarea>
				</td>
				<td class="span6">
					<div id="preview" ng-show="isPreviewMode"></div>
				</td>
			</tr>
		</table>
	</div>
	<!-- modal upload Images -->
  	<bootstrap-modal modal-id="uploadImagesModal">
  		<div class="modal-header">
  			<button type="button" class="close">&times;</button>
  			<h3>Upload Images</h3>
  		</div>
  		<div class="modal-body">
  			<iuploads ng-model="phone"></iuploads>
  		</div>
  		<div class="modal-footer">
  			<a href class="btn close">Close</a>
  			<a href class="btn btn-primary">Save changes</a>
  		</div>
  	</bootstrap-modal>
</div>