<div id="markdown">

	<input type="text" class="input-xxlarge" placeholder="Enter phone title here.." ng-model="name">
	<a class="btn btn-primary pull-right" href="#uploadImagesModal" data-toggle="modal">Upload Images</a>
	
	<div class="span12 prefix margin-top">
		<table class="table table-bordered">
			<tr class="well">
				<td colspan="2">
					<div class="btn-group" ng-class="{open:isShowHeader}">
					  	<button class="btn dropdown-toggle" ng-click="toggleHeader()">
					    	Header
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu">
					    	<li><a href ng-click="replaceTo('h1')">Header 1</a></li>
					    	<li><a href ng-click="replaceTo('h2')">Header 2</a></li>
					    	<li><a href ng-click="replaceTo('h3')">Header 3</a></li>
					    	<li><a href ng-click="replaceTo('h4')">Header 4</a></li>
					    	<li><a href ng-click="replaceTo('h5')">Header 5</a></li>
					    	<li><a href ng-click="replaceTo('h6')">Header 6</a></li>
					 	</ul>
					</div>
					<div class="btn-group">
					  	<button class="btn" title="bold" ng-click="replaceTo('b')"><i class="icon-bold"></i></button>
					  	<button class="btn" title="italic" ng-click="replaceTo('i')"><i class="icon-italic"></i></button>
					  	<button class="btn" title="quote" ng-click="replaceTo('quote')">Quote</button>
					  	<button class="btn" title="horizontal line" ng-click="replaceTo('more')"><i class="icon-minus"></i></button>
					</div>
					<div class="btn-group">
					  	<button class="btn" title="Insert link" bootstrap-modal-open="insertAnchorModal" backdrop="false">Link</button>
					  	<a class="btn" title="Insert image" href="#uploadImagesModal" data-toggle="modal"><i class="icon-picture"></i></a>
					  	<button class="btn" title="Insert youtube video" bootstrap-modal-open="insertYoutubeModal" backdrop="false"><i class="icon-facetime-video"></i></button>
					</div>
					<div class="pull-right">
						<button id="refresh-markdown" class="btn" title="refresh" ng-disabled="!isPreviewMode" ng-click="refreshPreview()"><i class="icon-refresh"></i></button>
						<div class="input-prepend input-append">
							<button class="btn" title="preview" ng-disabled="isPreviewMode" ng-click="swicthToPreview(true)"><i class="icon-eye-open"></i></button>
							<button class="btn" title="editor" ng-disabled="!isPreviewMode" ng-click="swicthToPreview(false)"><i class="icon-resize-horizontal"></i></button>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td id="editor" style="padding: 0;" class="span6">
					<textarea class="span12 well markdown-mce" rows="15" ng-model="markdown"></textarea>
				</td>
				<td class="span6">
					<div id="preview" ng-show="isPreviewMode"></div>
				</td>
			</tr>
		</table>
	</div>

	<iuploads modal="true" modal-id="uploadImagesModal" id="{{phone.id}}"></iuploads>

	<bootstrap-modal modal-id="insertAnchorModal">
  		<div class="modal-header" style="height:25px">
  			<a class="close" data-dismiss="modal">&times;</a>
  			<h3>Insert Link</h3>
  		</div>
  		<div class="modal-body">
  			<p>One fine body…</p>
  		</div>
  		<div class="modal-footer">
  			<a href="javascript:void(0)" class="btn">Insert Link</a></div>
  	</bootstrap-modal>

	<bootstrap-modal modal-id="insertYoutubeModal">
  		<div class="modal-header" style="height:25px">
  			<a class="close" data-dismiss="modal">&times;</a>
  			<h3>Insert Youtube Video</h3>
  		</div>
  		<div class="modal-body">
  			<p>One fine body…</p>
  		</div>
  		<div class="modal-footer">
  			<a href="javascript:void(0)" class="btn">Insert Video</a></div>
  	</bootstrap-modal>

</div>