<!-- <form class="form-horizontal"> -->
	<fieldset>
		<legend>Edit <span></span></legend>

		<markdownmce ng-model="phone"></markdownmce>

		<tabs class="span8 prefix">
			<pane title="General">
				<tabs class="tabs-left">
					<pane title="Price">
						Price
					</pane>
					<pane title="Inventory">
						Stock
					</pane>
					<pane title="Shipping">
						Weight Dimensions
					</pane>
				</tabs>
			</pane>
			<pane title="Description">
				<tabs class="tabs-left">
					<pane title="Availability and Networks">
						Avaibility
					</pane>
					<pane title="Battery">
						Battery
					</pane>
					<pane title="Storage and Memory">
						Storage and Memory
					</pane>
					<pane title="Connectivity">
						Connectivity
					</pane>
					<pane title="Android">
						Android
					</pane>
					<pane title="Size and Weigth">
						Size and Weigth
					</pane>
					<pane title="Display">
						Display
					</pane>
					<pane title="Hardware">
						Hardware
					</pane>
					<pane title="Camera">
						Camera
					</pane>
					<pane title="Additional Features">
						Additional Features
					</pane>
				</tabs>
			</pane>
		</tabs>

		<div id="feature-image" class="span4 well" style="position:relative; min-height:250px">
			<div class="image">
				<img src="img/phones/nexus-s.0.jpg" alt="">
				<a href="javascript:void(0)" style="
				    position: absolute;
				    top: 19px;
				    right: 22px;
				"><i class="icon-remove"></i>
				</a>
			</div>
			<a class="btn btn-primary" href="#modal-image-uploads" data-toggle="modal" style="
				position: absolute;
				left: 31%;
				top: 45%;
			">Set Featured Image</a>
		</div>
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Save changes</button>
		<button class="btn">Cancel</button>
	</div>
<!-- </form> -->