@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}

ng\:form {
	display: block;
}

.prefix {
	margin-left: 0px !important;
}

.container-fluid {
	height: 100%;
	overflow: auto;
}

#ngView {
	/*overflow: hidden;*/
	margin-top: 40px;
}

.navbar {
	margin-bottom: 0;
}

#loading {
	/*position: absolute;
	top: 40px;*/
}

#loading .span12 {
	z-index: 1;
	text-align: center;
	position: absolute;
}

#loading .alert,
#loading .progress,
#loading .progress .bar {
	height: 40px;
}

#loading .progress span {
	position: absolute;
	vertical-align: middle;
	line-height: 40px;
}

#loading.error .progress,
#loading.loaded .progress {
	display: none;
}