<div class="images-upload loading">
  	<ul class="nav nav-tabs">
    	<li class="active"><a href="#tab1" data-toggle="tab">Uploads</a></li>
    	<li><a href="#tab2" data-toggle="tab">Files</a></li>
  	</ul>
  	<div class="tab-content">
    	<div class="tab-pane active" id="tab1">
    		<!-- upload -->
    		<section id="upload" class="row-fluid">
		      	<div class="margin-top-bottom">
					<div id="drop-area">
						<input type="file" id="input-files" name="file[]" class="hide" multiple />
						<br/><br/>
						<span class="drop-instructions">or drag and drop files here</span>
						<span class="drop-over">Drop files here!</span>
					</div>
				</div>
			
				<div id="upload-list" class="row-fluid hide">
					<!-- upload group -->
					<div class="accordion" id="upload-accordion">
						<!-- upload row tpl -->
						<div class="accordion-group">
							<div class="accordion-heading">
			                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#upload-accordion" href="#upload-field-0">
			                     	<!-- file name -->
			                    </a>
		                  	</div>
		                  	<div id="upload-field-0" class="accordion-body collapse">
			                    <div class="span12 accordion-inner">
					          		<div class="span4 upload-img"><!-- file image --></div>
					                <div class="span8">
							      		<div class="progress progress-striped active">
											<div class="bar" style="width: 0%;">0%</div>
										</div>
							            <div class="alert alert-success show-message">
										  	<span class="message"><strong>Success!</strong> upload successfully.</span>
										  	<span class="buttons">
										  		<!-- compile -->
											  	<button class="btn btn-primary" ng-click="insertEditor($event)">Insert to Editor</button>
											  	<button class="btn btn-info" ng-click="setFeatureImage($event)">Set Featured Image</button>
											  	<span class="pull-right">
											  		<button class=" btn btn-danger" ng-click="deleteImage($event)" data-loading-text="Loading..."><i class="icon-remove"></i> Delete</button>
											  	</span>
											  	<!-- binding
											  	<button class="btn btn-primary insert-editor">Insert to Editor</button>
											  	<button class="btn btn-info set-featured">Set Featured Image</button>
											  	<button class="pull-right btn btn-danger delete-image" data-loading-text="Loading..."><i class="icon-remove"></i> Delete</button> -->
											  	<input type="hidden" name="img_title" value="" />
											  	<input type="hidden" name="img_url" value="" />
										  	</span>
										  	<!-- file description -->
										</div>
					            	</div>
			                    </div>
		                  	</div>
						</div>
						<!-- /upload row tpl -->
	                </div>
	                <!-- /upload group -->
	  			</div>
  			</section>
    		<!-- /upload -->
    	</div>
    	<div class="tab-pane" id="tab2">
    		<button class="btn" ng-click="onOk()"></button>
    	</div>
  	</div>
</div>
<div class="ajax-loader"><img src="img/loading.gif" alt="loading..."></div>
