<div class="images-upload">
  	<ul class="nav nav-tabs">
    	<li class="active"><a href="#tab1" data-toggle="tab">From Computer</a></li>
    	<li><a href="#tab2" data-toggle="tab">From URL</a></li>
    	<li><a href="#tab3" data-toggle="tab">Gallery ({{phone.images.length}})</a></li>
  	</ul>
  	<div class="tab-content">
  		<!-- Tab Computer -->
    	<div class="tab-pane" id="tab1">
    		<!-- upload -->
    		<div id="upload" class="row-fluid">
		      	<div class="margin-top-bottom">
					<div id="drop-area">
						<input type="file" id="input-files" name="file[]" class="hide" multiple />
						<br/><br/>
						<span class="drop-instructions">or drag and drop files here</span>
						<span class="drop-over">Drop files here!</span>
					</div>
				</div>
			
				<div id="upload-list" class="row-fluid hide">
					<!-- upload group -->
					<div class="accordion" id="upload-accordion">
						<!-- upload row tpl -->
						<div class="accordion-group">
							<div class="accordion-heading">
			                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#upload-accordion" href="#upload-field-0">
			                     	<!-- file name -->
			                    </a>
		                  	</div>
		                  	<div id="upload-field-0" class="accordion-body collapse">
			                    <div class="span12 accordion-inner">
					          		<div class="span4 upload-img"><!-- file image --></div>
					                <div class="span8">
							      		<div class="progress progress-striped active">
											<div class="bar" style="width: 0%;">0%</div>
										</div>
							            <div class="alert alert-success show-message">
										  	<span class="message"><strong>Success!</strong> upload successfully.</span>
										  	<span class="buttons">
										  		<!-- compile -->
											  	<button class="btn btn-primary" ng-click="insertEditor($event)">Insert to Editor</button>
											  	<button class="btn btn-info" ng-click="setFeatureImage($event)">Set Featured Image</button>
											  	<span class="pull-right">
											  		<button class=" btn btn-danger" ng-click="deleteImage($event)" data-loading-text="Loading..."><i class="icon-remove"></i> Delete</button>
											  	</span>
											  	<!-- binding
											  	<button class="btn btn-primary insert-editor">Insert to Editor</button>
											  	<button class="btn btn-info set-featured">Set Featured Image</button>
											  	<button class="pull-right btn btn-danger delete-image" data-loading-text="Loading..."><i class="icon-remove"></i> Delete</button> -->
											  	<input type="hidden" name="img_title" value="" />
											  	<input type="hidden" name="img_url" value="" />
										  	</span>
										  	<!-- file description -->
										</div>
					            	</div>
			                    </div>
		                  	</div>
						</div>
						<!-- /upload row tpl -->
	                </div>
	                <!-- /upload group -->
	  			</div>
  			</div>
    		<!-- /upload -->
    	</div>	
    	<!-- Tab URL -->
    	<div class="tab-pane active" id="tab2">
    		<div class="container-fluid">
    			<div class="row-fluid">
		    		<div class="span8">
			    		<form id="imgForm" class="form-horizontal" name="imgForm" ng-submit="insertImageURL()">
							<div class="control-group">
								<label class="control-label" for="input03">URL</label>
								<div class="controls">
									<input type="url" id="input03" ng-model="img.url" ng-change="change()" name="url" required>
									<!-- <span class="alert alert-success hide">Success</span> -->
									<span ng-show="imgForm.url.$valid" class="checkmark"></span>
									<span ng-show="imgForm.url.$error.required" class="alert alert-error">URL required</span>
									<span ng-show="imgForm.url.$error.url" class="alert alert-error">URL Invalid</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">Title</label>
								<div class="controls">
									<input type="text" id="input01" ng-model="img.title">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input02">Alt Text</label>
								<div class="controls">
									<input type="text" id="input02" ng-model="img.alt">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn" ng-disabled="imgForm.$invalid">Insert image</button>
								</div>
							</div>
						</form>
					</div>
					<div class="span4 img-preview" style="position:relative; height:200px">
						<div class="img"></div>
						<div class="ajax-loader"><img src="img/loading.gif" alt="loading..."></div>
					</div>
				</div>
    		</div>
    	</div>
    	<!-- Tab Gallery -->
    	<div class="tab-pane" id="tab3">
			<!-- <p ng-repeat="image in phone.images">{{image}}</p> -->
			<div class="container-fluid">
				<div class="row-fluid">
					<!-- acordion images list -->
					<div class="accordion" id="images-list">
						<!-- image row -->
						<div class="accordion-group" ng-repeat="image in phone.images">
							<div class="accordion-heading">
			                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#images-list" href="#image-field-{{$index}}">
			                     	{{image}}
			                    </a>
		                  	</div>
		                  	<div id="image-field-{{$index}}" class="accordion-body collapse" ng-class="{in:$index == 0}">
			                    <div class="span12 accordion-inner">
					          		<div class="span4 upload-img">
										<img ng-src="{{image}}">
					          		</div>
					                <div class="span8">
							            <div class="alert alert-success show-buttons">
										  	<span class="buttons">
											  	<button class="btn btn-primary" ng-click="insertEditor($event)">Insert to Editor</button>
											  	<button class="btn btn-info" ng-click="setFeatureImage($event)">Set Featured Image</button>
											  	<span class="pull-right">
											  		<button class=" btn btn-danger" ng-click="deleteImage($event)" data-loading-text="Loading..."><i class="icon-remove"></i> Delete</button>
											  	</span>
											  	<input type="hidden" name="img_title" value="{{image}}" />
											  	<input type="hidden" name="img_url" value="{{image}}" />
										  	</span>
										  	<!-- file description -->
										</div>
					            	</div>
			                    </div>
		                  	</div>
						</div>
						<!-- /image row -->
					</div>
					<!-- acordion images list -->
				</div>
			</div>
    	</div>
  	</div>
</div>
