<div id="search-youtube" style="min-height: 125px;">
  <div class="input-append">
    <input class="input-xlarge" type="text" name="query">
    <div class="btn-group">
      <button ng-click="searchVideos()" class="btn btn-search" tabindex="-1" 
              data-loading-text="<img src='img/ajax-spin.gif'/> Loading...">Search by {{searchBy}}</button>
      <button type="button" class="btn dropdown-toggle" tabindex="-1" 
              data-toggle="dropdown"
              ng-disabled="disabled">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href ng-click="changeOrder('relevance', 'relevance')">Search by relevance</a></li>
        <li><a href ng-click="changeOrder('viewCount', 'most viewed')">Search by most viewed</a></li>
        <li><a href ng-click="changeOrder('published', 'most recent')">Search by most recent</a></li>
        <li><a href ng-click="changeOrder('rating', 'top rated')">Search by top rated</a></li>
      </ul>
    </div>
  </div>
  <div class="youtube-videos margin-top">

  </div>
</div>